@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

:root {
    --yellow-color: #FEA116;
    --gray-color: rgb(255, 255, 255);
}

.bg-gray {
    background-color: var(--gray-color);
}

.yellow-color {
    color: var(--yellow-color);
}
.navbar {
    position: sticky;
    top: 0px;
    z-index: 9;
}
.bg-yellow {
    background-color: var(--yellow-color);
}

.navbar {
    background-color: #0F172B !important;
}

.nav-head:hover {
    color: var(--yellow-color);
}

.nav-head:focus {
    color: var(--yellow-color);
}

.nav-head {
    font-size: 40px;
    font-family: "Nunito", sans-serif;

}

.navbar li a {
    color: white;
    margin-right: 10px;
}

.navbar li a:hover {
    color: var(--yellow-color);
}

.navbar li a:focus {
    color: var(--yellow-color);
}


.nav-btn {
    padding: 8px 25px;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid var(--yellow-color);
}

.nav-btn:hover {
    background-color: #fea116d8;
    border-color: var(--yellow-color);
}

.nav-btn:focus {
    background-color: #fea116d8 !important;
    border-color: var(--yellow-color) !important;
}
.nav-active{
    color: var(--yellow-color) !important;
}
.dropdown a:focus{
color: var(--yellow-color) !important;
}

.my-8 {
    margin-top: 100px;
}

.py-8 {
    padding: 80px 0;
}

.fs-7 {
    font-size: 50px;
    font-weight: bolder !important;
}

.fs-8 {
    font-size: 70px;
}

.ms-8 {
    margin-left: 50px;
}
.mt-7{
    margin-top: 100px;
}

.my-7 {
    margin-top: 77px;
}

.fs-9 {
    font-size: 18px;
    color: rgb(102, 101, 101);
}



#hero {
    background-image: url(../image/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60vh;
    position: relative;
    overflow: hidden;
}


.overlay {
    height: 120vh;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
    background-color: #0f172be1;
}

.hero-card h1{
        font-family: "Nunito", sans-serif;
        margin-left: 250px !important;

}
.hero-card a{
    text-decoration: none;
    color: var(--yellow-color);
    margin-right: 10px;
    margin-left: 5px;
    font-size: 20px;
}

.hero-card span {
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

.hero-item{
    margin-top: 100px;
    display: flex;
    align-items: baseline;
    position: relative;
    top: -15px;
    right: 260px;
}


.about-img img {
    border-radius: 2px;
}

.about-left {
    padding: 0 24px;
}

.about-right {
    padding: 0 24px;
}

.about-right h3 {
    font-family: "Pacifico", cursive;
    position: relative;
}

.about-right h2 {
    font-family: "Nunito", sans-serif;
    color: #0F172B;
}

.hero-btn {
    padding: 15px 50px;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid var(--yellow-color);
}

.hero-btn:hover {
    background-color: #fea116d8;
    border-color: var(--yellow-color);
}


.hero-btn:focus {
    background-color: #fea116d8 !important;
    border-color: var(--yellow-color) !important;
}

.about-right h3::after {
    content: " ";
    width: 9%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 110px;
    bottom: 50%;
}


.about-exp {
    border-left: 5px solid var(--yellow-color);
    text-align: center;
    line-height: 15px;
}

.chefs-heading h4 {
    position: relative;
    font-family: "Pacifico", cursive;


}

.chefs-heading h4::after {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    right: 510px;
    top: 15px;
}

.chefs-heading h4::before {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 510px;
    top: 15px;
}

.chefs-heading h2 {
    font-family: "Nunito", sans-serif;
}



.chef-card {
    overflow: hidden !important;
    padding-bottom: 0 !important;
    height: calc(100% - 52px);
    transition: all 0.52s ease;
}

.chef-card img {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.chef-card:hover img {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.chef-card:hover {
    height: 98%;
         transition: all 0.93s ease !important;

}

.chef-card a {
    text-decoration: none;
    background-color: var(--yellow-color);
    margin-right: 10px;
    font-size: 20px;
    color: white;
    padding: 10px;


}



footer {
    background-color: #0F172B;
}




.footer-heading h3 {
    font-family: "Pacifico", cursive;
    position: relative;
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    color: white;
    font-size: 16px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.arrow a i {
    color: white;
}

.footer-heading h3::after {
    content: " ";
    width: 15%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 110px;
    bottom: 50%;
}

.footer-heading ul li {
    padding-bottom: 10px;
}

.footer-heading ul li:hover a {
    font-size: 18px;
    transition: all 0.5s ease;
}

.footer-icon i {

    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;

}

.footer-icon a {
    margin-right: 10px;
}

.footer-icon a :hover {
    color: var(--yellow-color) !important;
    border-color: var(--yellow-color) !important;

}