@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --yellow-color: #FEA116;
    --gray-color: rgb(255, 255, 255);
}

.bg-gray {
    background-color: var(--gray-color);
}

.yellow-color {
    color: var(--yellow-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.navbar {
    background-color: #0F172B !important;
}

.nav-head:hover {
    color: var(--yellow-color);
}

.nav-head:focus {
    color: var(--yellow-color);
}

.nav-head {
    font-size: 40px;
    font-family: "Nunito", sans-serif;

}

.navbar li a {
    color: white;
    margin-right: 10px;
}

.navbar li a:hover {
    color: var(--yellow-color);
}

.navbar li a:focus {
    color: var(--yellow-color);
}


.nav-btn {
    padding: 8px 25px;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid var(--yellow-color);
}

.nav-btn:hover {
    background-color: #fea116d8;
    border-color: var(--yellow-color);
}

.nav-btn:focus {
    background-color: #fea116d8 !important;
    border-color: var(--yellow-color) !important;
}

.my-8 {
    margin-top: 100px;
}

.py-8 {
    padding: 80px 0;
}

.fs-8 {
    font-size: 70px;
}

.ms-8{
    margin-left: 50px;
}

#hero {
    background-image: url(../image/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.hero-img img {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: rotate 50s linear infinite;
    max-width: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

.overlay {
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
}

.overlay {
    background-color: #0f172be1;


}

.hero-card h1 {
    font-family: "Nunito", sans-serif;
}

.hero-btn {
    padding: 15px 50px;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid var(--yellow-color);
}

.hero-btn:hover {
    background-color: #fea116d8;
    border-color: var(--yellow-color);
}


.hero-btn:focus {
    background-color: #fea116d8 !important;
    border-color: var(--yellow-color) !important;
}



.hero-img {
    text-align: end;
}

#service {
    background-color: rgb(255, 255, 255);
}

.service-card {
    padding: 34px 24px 34px 24px;
    border-radius: 5px;
}

.service-card p {
    color: rgb(102, 101, 101);
    font-size: 18px;
}

.service-card:hover {
    background-color: var(--yellow-color);
    color: white;
    cursor: pointer;
}

.service-card:hover p {
    color: white !important;
}

.service-card:hover svg path {
    fill: white;

}