@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');

:root {
    --yellow-color: #FEA116;
    --gray-color: rgb(255, 255, 255);
}

.bg-gray {
    background-color: var(--gray-color);
}

.yellow-color {
    color: var(--yellow-color);
}

.bg-yellow {
    background-color: var(--yellow-color);
}

.navbar {
    background-color: #0F172B !important;
}

.nav-head:hover {
    color: var(--yellow-color);
}

.nav-head:focus {
    color: var(--yellow-color);
}

.nav-head {
    font-size: 40px;
    font-family: "Nunito", sans-serif;

}
.navbar {
    position: sticky;
    top: 0px;
    z-index: 9;
}

.navbar li a {
    color: white;
    margin-right: 10px;
}

.navbar li a:hover {
    color: var(--yellow-color);
}

.navbar li a:focus {
    color: var(--yellow-color);
}


.nav-btn {
    padding: 8px 25px;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid var(--yellow-color);
}

.nav-btn:hover {
    background-color: #fea116d8;
    border-color: var(--yellow-color);
}

.nav-btn:focus {
    background-color: #fea116d8 !important;
    border-color: var(--yellow-color) !important;
}

.my-8 {
    margin-top: 100px;
}

.py-8 {
    padding: 80px 0;
}

.fs-7 {
    font-size: 50px;
    font-weight: bolder !important;
}

.fs-8 {
    font-size: 70px;
}

.ms-8 {
    margin-left: 50px;
}

.my-7 {
    margin-top: 77px;
}

.fs-9 {
    font-size: 18px;
    color: rgb(102, 101, 101);
}

#hero {
    background-image: url(../image/bg-hero.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 120vh;
    position: relative;
    overflow: hidden;
}

.hero-img img {
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    animation: rotate 50s linear infinite;
    max-width: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(1turn);
    }
}

.overlay {
    height: 120vh;
    position: absolute;
    top: 0;
    width: 100%;
    background-size: cover;
}

.overlay {
    background-color: #0f172be1;


}

.hero-card h1 {
    font-family: "Nunito", sans-serif;
}

.hero-btn {
    padding: 15px 50px;
    border-radius: 2px;
    font-size: 20px;
    border: 1px solid var(--yellow-color);
}

.hero-btn:hover {
    background-color: #fea116d8;
    border-color: var(--yellow-color);
}


.hero-btn:focus {
    background-color: #fea116d8 !important;
    border-color: var(--yellow-color) !important;
}



.hero-img {
    text-align: end;
}

#service {
    background-color: rgb(255, 255, 255);
}

.service-card {
    padding: 34px 24px 34px 24px;
    border-radius: 5px;
}

.service-card p {
    color: rgb(102, 101, 101);
    font-size: 18px;
}

.service-card:hover {
    background-color: var(--yellow-color);
    color: white;
    cursor: pointer;

}

.service-card:hover p {
    color: white !important;
}

.service-card:hover svg path {
    fill: white;

}



.about-img img {
    border-radius: 2px;
}

.about-left {
    padding: 0 24px;
}

.about-right {
    padding: 0 24px;
}

.about-right h3 {
    font-family: "Pacifico", cursive;
    position: relative;
}

.about-right h2 {
    font-family: "Nunito", sans-serif;
    color: #0F172B;
}



.about-right h3::after {
    content: " ";
    width: 9%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 110px;
    bottom: 50%;
}


.about-exp {
    border-left: 5px solid var(--yellow-color);
    text-align: center;
    line-height: 15px;
}

.menu-heading h4 {
    position: relative;
    font-family: "Pacifico", cursive;


}

.menu-heading h4::after {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    right: 530px;
    top: 15px;
}

.menu-heading h4::before {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 530px;
    top: 15px;
}

.menu-heading h2 {
    font-family: "Nunito", sans-serif;
}

.nav-item h5 {
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
}

.menu-nav {
    position: relative;
}

.menu-nav::after {
    content: " ";
    width: 33%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.235);
    position: absolute;
    left: 435px;
    bottom: 0px;
}


.nav-item:focus ::after {
    width: 100%;
}


.nav-item .active {
    border-bottom: 2px solid var(--yellow-color);
}

.me-8 {
    margin-right: 250px;
    margin-top: 5px;

}

.menu-left img {
    border-radius: 2px;
}

.menu-price {
    margin-top: -3px;
}




.reserve-right h3 {
    font-family: "Pacifico", cursive;
    position: relative;


}

.bg-blue {
    background-color: #0F172B;
    ;
}


.reserve-img {
    position: relative;
}

.reserve-img img {
    height: 90vh;
}

.reserve-right h3::after {
    content: " ";
    width: 10%;
    height: 2px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 130px;
    bottom: 10px;
}

@keyframes shadow {
    from {
        box-shadow: 0 0 6px 6px #FEA116;
    }

    to {
        box-shadow: 0 0 0px 8px #FEA116;
    }
}


.reserve-form input {
    padding: 15px;
}

.reserve-form select {
    padding: 15px;
}



.play-btn {
    position: absolute;
    top: 50%;
    left: 43%;
    /* animation-name: shadow;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
    height: 50px;
    width: 50px; */
    font-size: 100px;
}





.chefs-heading h4 {
    position: relative;
    font-family: "Pacifico", cursive;


}

.chefs-heading h4::after {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    right: 510px;
    top: 15px;
}

.chefs-heading h4::before {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 510px;
    top: 15px;
}

.chefs-heading h2 {
    font-family: "Nunito", sans-serif;
}

.chef-card {
    overflow: hidden !important;
}

.chef-card {
    overflow: hidden !important;
    padding-bottom: 0 !important;
    height: calc(100% - 52px);
    transition: all 0.52s ease;
}

.chef-card img {
    overflow: hidden;
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.chef-card:hover img {
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.chef-card:hover {
    height: 98%;
    transition: all 0.93s ease !important;
}

.chef-card a {
    text-decoration: none;
    background-color: var(--yellow-color);
    margin-right: 10px;
    font-size: 20px;
    color: white;
    padding: 10px;


}


.testimonial-img img {
    height: 60px;
    width: 60px;

}

.cards {
    color: white !important;
}

.testimonial-right h3 {
    font-family: "Nunito", sans-serif;

}

.testimonial-card i {
    font-size: 40px;
    color: var(--yellow-color);
}

.testimonial-card:focus {
    background-color: var(--yellow-color) !important;
}


.contacts-icon i {
    font-size: 40px;
    background-color: var(--yellow-color);
    color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}



.contact-form input {
    padding: 15px;
}

.contact-form input:focus {
    box-shadow: none;
    border: 1px solid var(--yellow-color);
}

.contact-form textarea:focus {
    box-shadow: none;
    border: 1px solid var(--yellow-color);
}

.contact-heading h4 {
    position: relative;
    font-family: "Pacifico", cursive;


}

.contact-heading h4::after {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    right: 580px;
    top: 15px;
}

.contact-heading h4::before {
    content: " ";
    width: 4%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 580px;
    top: 15px;
}

.contact-heading h2 {
    font-family: "Nunito", sans-serif;
}





footer {
    background-color: #0F172B;
}




.footer-heading h3 {
    font-family: "Pacifico", cursive;
    position: relative;
}

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-color);
    color: white;
    font-size: 16px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

.arrow a i {
    color: white;
}

.footer-heading h3::after {
    content: " ";
    width: 15%;
    height: 2.5px;
    background-color: var(--yellow-color);
    position: absolute;
    left: 110px;
    bottom: 50%;
}

.footer-heading ul li {
    padding-bottom: 10px;
}

.footer-heading ul li:hover a {
    font-size: 18px;
    transition: all 0.5s ease;
}

.footer-icon i {

    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;

}

.footer-icon a {
    margin-right: 10px;
}

.footer-icon a :hover {
    color: var(--yellow-color) !important;
    border-color: var(--yellow-color) !important;

}